<div class="container">

  <br />

  <span class="h2">
    Växtkatalog
  </span>
  <br />
  <span>
    <a href="#/plant-editor">
      Ny växt
    </a>
  </span>

  <hr/>
  <div class="row">
    <form class="form-search">
      <div class="col-md-4 input-append">
        <input ng-model="searchbox" type="text" class="form-control"
               placeholder="Sök växt">
      </div>
      <div class="col-md-8 text-right">
        <button type="button" class="btn btn-link">All</button>
        <button type="button" class="btn btn-link">My</button>
        <button type="button" class="btn btn-link">Popular</button>
      </div>
    </form>
  </div>

  <div ng-repeat="s in species">
    <div class="row">
      <hr/>
      <div class="col-md-6">
        <h4>
          <span ng-click="speciesVisible[s.name]=!speciesVisible[s.name]"
                ng-init="speciesVisible[s.name] = false">
            <i ng-show="speciesVisible[s.name]" class="fa fa-chevron-circle-down"></i>
            <i ng-hide="speciesVisible[s.name]" class="fa fa-chevron-circle-right"></i>
          </span>
            &nbsp;
          <span>
            <a href="#/catalog/{{s.id}}">{{s.name}}</a>
          </span>
        </h4>
      </div>
      <div ng-show="speciesVisible[s.name]" class="col-md-8">
        <p>
          {{s.description}}
        </p>
      </div>
    </div>
  </div>

  <br />
</div>
